<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css">
    <title>Sobre</title>
</head>
<body>
<header class="myHeader-navBar" >
    <div>
        <nav>
            <ul class="list" >
                <li>
                    <a href="/" >Home</a>
                </li>
                <li>
                    <a href="/funcionario/index" >Funcionário</a>
                </li>
                <li>
                    <a href="/cliente/index" >Cliente</a>
                </li>
                <li>
                    <a href="/endereco/index" >Endereço</a>
                </li>
                <li>
                    <a href="/passagem/index" >Passagem</a>
                </li>
                <li>
                    <a href="/sobre" >Sobre</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="main-container" >
    <div>
        <h1>Desenvolvimento de Serviços Web e Testes com Java</h1>
    </div>
    <div>
        <h1 id="Professor" >Professor - Elberth Moraes</h1>

        <h2>Sobre min</h2>

        <h2>Competências</h2>
        <ul class="list-text" >
            <li>Nome: João Victor dos Santos Simões</li>
            <li>Idade: 20 anos (2024)</li>
            <li>Curso: Engenharia da computação - 3 semestre</li>
            <li>Intituto: Infnet</li>
        </ul>

        <h2>Sobre a disciplina</h2>
        <p>
            Curso focado em desenvolver competências essenciais em Serviços Web e Testes com Java.
            Preparar local, criar Testes unitários com JUnit, cosumir e desenvolver serviços web (RESTful APIs) usando Spark Java
        </p>

        <h2>Competências</h2>
        <ul class="list-text" >
            <li>Preparar o ambiente para desenvolvimento local com Java</li>
            <li>Desenvolver testes unitários usando JUnit</li>
            <li>Consumir serviços web (RESTful APIs) com Java</li>
            <li>Desenvolver serviços web (RESTful API) usando Spark Java</li>
        </ul>

        <h2>Comentário do Aluno</h2>
        <p>
            No começo da disciplina o professor Elberth introduziu o conceito de Teste unitário, utilizando maven e JUnit,
            teste que podem ser feitos com praticamente quase todo atributo, método e classe para saber se elas estão funcionando
            corretamente, continuando ele apresentou o FrameWork SpringBoot utilizando o SpringBoot Initializer para construir um projeto do zero,
            ensinou sobre as camadas de controller, service e repository, e a utilizar uma coleção Map como um pseudo Banco de dados, logo depois iniciou os
            conceitos de http Get, post e o consumo de API externa com SpringBoot, nos últimos tópicos iniciou o desenvolvimento com o Framework Spark e demonstrou
            como criar as camadas controller, services e como criar um CRUD utilizando o método GET e uma Collection MAP. Foi um curso repleto de informação e desafios
            e o considero um dos melhores professores do Instituto Infnet.
        </p>

        <h2>Links dos projetos anteriores </h2>
        <ul class="list-text list-animation" >
            <li>
                <a href="https://github.com/JvictorS2/Java_AT_DR3_BL3">Assessment (Este projeto)</a>
            </li>
            <li>
                <a href="https://github.com/JvictorS2/Java_TP3_DR3_BL3">Teste de Performance 3</a>
            </li>
            <li>
                <a href="https://github.com/JvictorS2/Java_TP2_DR3_BL3">Teste de Performance 2</a>
            </li>
            <li>
                <a href="https://github.com/JvictorS2/Java_TP1_DR3_BL3">Teste de Performance 1</a>
            </li>
        </ul>


    </div>
</div>
</body>
</html>